# Build results
[Bb]in/
[Oo]bj/

# NuGet packages
/packages/
*.nupkg
.nuget/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
riderModule.iml
/_ReSharper.Caches/

# Build logs
*.log
msbuild*.wrn
msbuild*.err

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
